.TopSidebar {
  display: flex;
  align-items: center;
  text-align: center;
}
.Searchbar {
  /* border: solid rgb(255, 255, 255); */
  /* border-radius: 50px 50px 50px 50px; */
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  margin: 0%;
  padding: 0px 5px;
}
.Searchbar input:focus {
  outline: none;
}
.Searchbar input {
  border: solid rgb(72, 72, 72) 1px;
  border-radius: 50px 0px 0px 50px;
  background-color: black;
  color: rgb(255, 255, 255);
  height: 38px;
  width: 500px;
  margin: 0%;
  padding-left: 20px;
}
.Searchbar button {
  border: solid rgb(72, 72, 72) 1px;
  color: rgb(255, 255, 255);
  background-color: rgba(72, 72, 72, 0.395);
  border-radius: 0px 50px 50px 0px;
  height: 38px;
  width: 50px;
  margin: 0%;
}
body {
  color: white;
  background-color: rgb(0, 0, 0);
}
.top {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0px 10px;
  margin: 0;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: black;
}
.YoutubeLogoBox {
  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* padding: 10px; */
}
.bi-youtube {
  color: rgb(255, 0, 0);
}
.YoutubeLogoBox div {
  padding: 2px;
}
.YoutubeLogoBox .TopSidebar {
  /* padding-left: 10px; */
}
.YoutubeLogoBox .Youtubelogo {
  /* padding-left: 10px; */
}
.top .searchnavbar {
  width: max-content;

  background-color: rgb(0, 0, 0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mic {
  height: 35px;
  color: rgb(127, 127, 127);
  padding: 4px;
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .TopSideNav {
  /* border: solid red; */

  width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.top .TopSideNav div {
  padding: 5px;
}
.prifile {
  background-color: #ff0000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0;
  background-color: black;
  margin: 0;
  /* border: solid rgb(255, 47, 210); */
}
.sideNav {
  overflow-y: scroll;
  width: 15%;
  left: 0;
  margin-top: 50px;
  border: solid rgb(49, 49, 49) 1px;
  height: 93vh;
}
.sideNav div:hover {
  background-color: rgba(59, 59, 59, 0.838);
}
.sideNav div {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 10px 10px;
  /* border: solid 1px;  */
}
.sideNav a {
  font-size: small;
  text-decoration: none;
  color: white;
}
.content {
  width: 85%;
  height: 100vh;
  padding: 1;
  /* border: solid rgb(255, 0, 0); */
  /* background-color: aquamarine; */
}
.topTagsrow {
  background-color: black;
  position: sticky;
  top: 50px;
  z-index: 999;
  margin-top: 40px;
  height: 30px;
  width: 100%;
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}
.topTags {
  background-color: rgba(59, 59, 59, 0.463);
  font-size: 0.7rem;
  text-align: center;
  width: max-content;
  cursor: pointer;
  height: 20px;
  padding: 0px 10px;
  margin: 0px 3px;
  border-radius: 5px;
}
.topTags:hover {
  background-color: rgba(59, 59, 59, 0.838);
}
.vediosrow {
  /* border: solid yellow; */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 10px;
  height: 90vh;
  overflow-x: scroll;
}
.vediosrow .vidbox {
  /* border: rgb(0, 0, 0) solid;  */
  width: 250px;
  margin: 10px;
  padding: 0;
  height: max-content;
}
.vediosrow .vidbox .mainvedio {
  height: 132px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  position: relative;
}
.vediosrow .vidbox .mainvedio p {
  font-size: 0.5rem;
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 1px;
  border-radius: 2px;
  margin: 0;
  background-color: rgba(59, 59, 59, 0.463);
}
.vediosrow .vidbox .mainvedio img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.vediosrow .vidbox .Thumbnailrow {
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.vediosrow .vidbox .Thumbnailrow div {
  /* border: solid black; */
  height: 100%;
  padding: 0;
  margin: 0;
}
.vediosrow .vidbox .Thumbnailrow .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.vediosrow .vidbox .Thumbnailrow .profile p {
  background-color: orangered;
  width: 25px;
  height: 25px;
  margin: 10%;
  border-radius: 50%;
  text-align: center;
}
.vediosrow .vidbox .Thumbnailrow .Thumbnail p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0%;
  padding: 0%;
  font-family: "Bowlby One SC", cursive;
  font-size: 0.5rem;
}
.vediosrow .vidbox .Thumbnailrow .options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.vediosrow .vidbox .Videodatarow {
  /* border: solid black; */
  margin: 0%;
}
.vediosrow .vidbox .Videodatarow .channelname p {
  margin: 0px 3px;
}
.vediosrow .vidbox .Videodatarow .channelname {
  font-size: 0.4rem;
  padding: 0%;
  margin: 0%;
  height: 40px;
}
